@import url(../vendor/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
.body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  max-width: 100%;
  background-color: #222222;
  color: #ffffff;
  border-radius: 20px;
  margin: 10px 10px 60px;
  position: relative;
}

.header__logo {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  background-position: center;
  border-radius: 40px;
  margin: 30px 0 60px;
}

.header__content {
  max-width: 1100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__title {
  max-width: 650px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
}

.header__text {
  margin: 28px 0 128px;
  padding: 0;
  max-width: 450px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  color: rgba(255, 255, 255, 0.7);
}

.header__button {
  margin-bottom: 130px;
  padding: 15px 75px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.header__image-container {
  max-width: 311px;
  margin-left: 82px;
  margin-bottom: -30px;
  margin-top: 63px;
}

.header__image {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.main {
  max-width: 1100px;
  margin: auto;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  max-width: 460px;
  max-height: 228px;
  background-color: #f8f8f8;
  border-radius: 20px;
  padding: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 45px 116px 72px;
      grid-template-rows: 45px 116px 72px;
  background: #f8f8f8;
}

.card__name {
  margin: 0 0 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: rgba(17, 17, 17, 0.6);
}

.card__title {
  margin: 0 0 40px;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}

.card__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(17, 17, 17, 0.6);
}

.title__name {
  margin: 120px 0;
  font-weight: 600;
  font-size: 60px;
  line-height: 68px;
}

.mobiles__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 120px;
  gap: 25px;
}

.mobiles__item {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.request {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 60px;
}

.request__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}

.request__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgba(17, 17, 17, 0.6);
}

.request__text {
  width: 430px;
  height: 24px;
  border: none;
  background: #ffffff;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 40px;
  padding: 15px 20px;
}

.request__text::-webkit-input-placeholder {
  color: rgba(17, 17, 17, 0.3);
}

.request__text:-ms-input-placeholder {
  color: rgba(17, 17, 17, 0.3);
}

.request__text::-ms-input-placeholder {
  color: rgba(17, 17, 17, 0.3);
}

.request__text::placeholder {
  color: rgba(17, 17, 17, 0.3);
}

.request__text:last-child {
  margin-right: 0;
}

.request__message {
  width: 96%;
  height: 100px;
  border: none;
  background: #ffffff;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 20px;
  margin-top: 20px;
  resize: none;
}

.request__message::-webkit-input-placeholder {
  color: rgba(17, 17, 17, 0.3);
}

.request__message:-ms-input-placeholder {
  color: rgba(17, 17, 17, 0.3);
}

.request__message::-ms-input-placeholder {
  color: rgba(17, 17, 17, 0.3);
}

.request__message::placeholder {
  color: rgba(17, 17, 17, 0.3);
}

.request__button {
  width: 194px;
  height: 54px;
  margin-top: 30px;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  background: #222222;
  color: #ffffff;
}

.request__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.request__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  background: #222222;
  border-radius: 20px;
  margin: 120px 10px 10px;
}

.footer__content {
  max-width: 1100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 470px;
}

.footer__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  margin: 60px 0 20px;
  max-width: 460px;
}

.footer__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 174px;
  max-width: 460px;
}

.footer__image {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.footer__image-container {
  margin-left: 179px;
  margin-top: -30px;
  overflow: hidden;
  max-width: 311px;
  max-height: 630px;
}

.footer__buttton {
  width: 470px;
  height: 54px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */