@import url(../vendor/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

.body {
  max-width: 1440px;
  font-family: "Inter", sans-serif;
  margin: auto;
  background: #ffffff;
}

.header {
  max-width: 100%;
  background-color: #222222;
  color: #ffffff;
  border-radius: 20px;
  margin: 10px 10px 60px;
  position: relative;
  &__logo {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    background-position: center;
    border-radius: 40px;
    margin: 30px 0 60px;
  }
  &__content {
    max-width: 1100px;
    margin: auto;
    display: flex;
  }
  &__title {
    max-width: 650px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
  }
  &__text {
    margin: 28px 0 128px;
    padding: 0;
    max-width: 450px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */

    color: rgba(255, 255, 255, 0.7);
  }
  &__button {
    margin-bottom: 130px;
    padding: 15px 75px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: none;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
  }
  &__image {
    object-fit: cover;
    width: 311px;
    height: 630px;
    margin-left: 82px;
    margin-bottom: -30px;
    margin-top: 63px;
  }
}

.main {
  max-width: 1100px;
  margin: auto;
}
.cards {
  display: flex;
}
.card {
  margin-right: 20px;
  max-width: 460px;
  max-height: 228px;
  background-color: #f8f8f8;
  border-radius: 20px;
  padding: 40px;
  display: grid;
  grid-template-rows: 45px 116px 72px;
  background: #f8f8f8;
  &:last-child {
    margin-right: 0;
  }
  &__name {
    margin: 0 0 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: rgba(17, 17, 17, 0.6);
  }
  &__title {
    margin: 0 0 40px;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
  }
  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(17, 17, 17, 0.6);
  }
}

.title {
  &__name {
    margin: 120px 0;
    font-weight: 600;
    font-size: 60px;
    line-height: 68px;
  }
}

.mobiles {
  &__container {
    display: flex;
    margin-bottom: 120px;
  }
  &__item {
    object-fit: cover;
    width: 350px;
    height: 709px;
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.request {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 60px;
  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(17, 17, 17, 0.6);
  }
  &__form {
  }
  &__text {
    width: 430px;
    height: 24px;
    border: none;
    background: #ffffff;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 40px;
    padding: 15px 20px;
    &::placeholder {
      color: rgba(17, 17, 17, 0.3);
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__message {
    width: 940px;
    height: 100px;
    border: none;
    background: #ffffff;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 20px;
    margin-top: 20px;
    resize: none;
    &::placeholder {
      color: rgba(17, 17, 17, 0.3);
    }
  }
  &__button {
    width: 194px;
    height: 54px;
    margin-top: 30px;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: none;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    background: #222222;
    color: #ffffff;
  }
  &__button-container {
    display: flex;
    flex-direction: row-reverse;
  }
  &__data {
    display: flex;
  }
}

.footer {
  background: #222222;
  border-radius: 20px;
  margin: 120px 10px 10px;
  &__content {
    max-width: 1100px;
    margin: auto;
    display: flex;
    max-height: 470px;
  }
  &__main {
  }
  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #ffffff;
    margin: 60px 0 20px;
    max-width: 460px;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 0 174px;
    max-width: 460px;
  }
  &__image {
    width: 311px;
    height: 630px;
    object-fit: cover;
    margin-left: 179px;
  }
  &__image-container {
    margin-top: -30px;
    overflow: hidden;
  }
  &__buttton {
    width: 470px;
    height: 54px;
    margin-bottom: 130px;
    padding: 15px 190px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: none;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
  }
}
